<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Posting</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="navbar.css">
</head>
<body>
    <!-- onst { title, desc, location, requirements, companyname, email, phone } -->
    <%- include('navigationbar') %>
    <div class="container mt-5">
        <h2>Job Posting Form</h2>
        <form action="/jobpost" method="post">
            <div class="form-group">
                <label for="jobTitle">Job Title</label>
                <input type="text" class="form-control" id="jobTitle" name="title" placeholder="Enter job title" required>
            </div>
            <div class="form-group">
                <label for="jobDescription">Job Description</label>
                <textarea class="form-control" id="jobDescription" name="desc" rows="4" placeholder="Enter job description" required></textarea>
            </div>
            <div class="form-group">
                <label for="jobLocation">Job Location</label>
                <input type="text" class="form-control" id="jobLocation" name="location" placeholder="Enter job location" required>
            </div>
            <div class="form-group">
                <label for="jobRequirements">Job Requirements</label>
                <textarea class="form-control" id="jobRequirements" name="requirements" rows="4" placeholder="Enter job requirements" required></textarea>
            </div>
            <div class="form-group">
                <label for="jobsalary">Job Salary</label>
                <input class="form-control" id="jobsalary" name="salary" rows="4" placeholder="Enter Salary" required></input>
            </div>
            <div class="form-group">
                <label for="companyName">Company Name</label>
                <input type="text" class="form-control" id="companyName" name="companyname" placeholder="Enter company name" required>
            </div>
            <div class="form-group">
                <label for="contactEmail">Contact Email</label>
                <input type="email" class="form-control" id="contactEmail" name="email" placeholder="Enter contact email" required>
            </div>
            <div class="form-group">
                <label for="contactPhone">Contact Phone</label>
                <input type="tel" class="form-control" id="contactPhone" name="phone" placeholder="Enter contact phone" required>
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </form>
    </div>
</body>
</html>
