<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Posting</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .custom-navbar {
            background-color: #007bff; /* Navbar background color */
        }
        body {
            background-color: aquamarine;
        }
        .custom-navbar .navbar-brand,
        .custom-navbar .nav-link {
            color: #ffffff; /* Navbar text color */
        }
        .custom-navbar .navbar-toggler {
            border-color: #ffffff; /* Navbar toggler button color */
        }
        .custom-navbar .nav-link:hover,
        .custom-navbar .dropdown-item:hover {
            background-color: rgba(255, 255, 255, 0.1); /* Navbar link hover background color */
        }
        .custom-navbar .dropdown-menu {
            background-color: #007bff; /* Dropdown menu background color */
        }
        .custom-navbar .dropdown-item {
            color: #ffffff; /* Dropdown menu item text color */
        }
        .custom-navbar .dropdown-divider {
            border-top-color: rgba(255, 255, 255, 0.1); /* Dropdown menu divider color */
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg custom-navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">easily</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Recruiter
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <% if(locals.userEmail) { %>
                                <a class="dropdown-item" href="/logout">Logout</a>
                                <a class="dropdown-item" href="/jobpost">Post Job</a>
                            <% } else { %>
                                <a class="dropdown-item" href="/login">Login</a>
                                <% } %>
                        </div>
                    </li>
                    <% if(!locals.userEmail) { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/jobcard">Jobs</a>
                        </li>
                    <% } %>
                    
                </ul>
                <form class="form-inline my-2 my-lg-0" action="/search" method="get">
                    <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                
            </div>
        </div>
    </nav>
    
    <!-- JavaScript dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
